#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: rgb(208, 148, 38);
}

#green {
    color: green;
}

#yellow {
    color: rgb(167, 167, 25);
}

img {
    height: 200px;
    width: 200px;
}